[submodule "src/bootstrap/ext/yuni"]
	path = src/bootstrap/ext/yuni
	url = https://github.com/libyuni/libyuni.git
	branch = master
[submodule "tests"]
	path = tests
	url = https://github.com/nany-lang/nany-tests
	branch = master
[submodule "src/nsl"]
	path = src/nsl
	url = https://github.com/nany-lang/nany-nsl
	branch = master
[submodule "src/bootstrap/ext/dyncall"]
	path = src/bootstrap/ext/dyncall
	url = https://github.com/nany-lang/ext-dyncall
	branch = master
[submodule "src/bootstrap/ext/re2"]
	path = src/bootstrap/ext/re2
	url = https://github.com/nany-lang/ext-google-re2.git
	branch = master
