[submodule "bootstrap/ext/yuni"]
	path = bootstrap/ext/yuni
	url = https://github.com/libyuni/libyuni.git
	branch = master
[submodule "tests"]
	path = tests
	url = https://github.com/nany-lang/nany-tests
	branch = master
[submodule "bootstrap/ext/dyncall"]
	path = bootstrap/ext/dyncall
	url = https://github.com/nany-lang/ext-dyncall
	branch = master
